body {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

h1, h2 {
  text-align: center;
}

form {
  margin: 0 auto; 
  width: 300px; 
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #3b4146;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

