<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
<h1><%= title %></h1>
<% if (user) { %>
  <h2>Write a post!</h2>
  <form action="/new" method="POST">
    <label>
      Name: 
      <input type="text" name="name" autocomplete="off">
    </label>
    <button type="submit">Add a post</button>
  </form>
<% } %>

<%- include('../partials/footer') %>